body{
  background-color: #949494;
}

.about-me-container {
  background-color: #bbbbbb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* .cv-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-cv {
  max-width: 48%;
  text-align: left;
  margin-top: 45px;
  margin-left: 145px;
}

.text-cv1 {
  max-width: 48%;
  text-align: left;
  margin-top: 100px;
  margin-right: 20px;
}

.image-placeholder {
  text-align: left; /* Align the text to the left *
  margin-bottom: 10px;
  display: flex; /* Use flexbox to align items *
  align-items: center; /* Center the items vertically *
}

.img-class {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px; /* Add margin to the right of the image for spacing */
/* Cv.css */

.cv {
  background-color: #bfbfbf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.cv-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cv-entry {
  background-color: #d0d0d0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  width: calc(50% - 20px);
}

.cv-image {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
  
}

.cv-job-title {
  font-size: 18px;
  font-weight: bold;
}

.cv-entry em {
  font-style: italic;
}

.cv-entry br {
  display: none;
}

@media (max-width: 768px) {
  .cv-container {
    flex-direction: column;
  }

  .cv-entry {
    width: 100%;
    margin: 0 0 20px;
  }
}




.experience-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.about-me-container p {
  margin-bottom: 10px; /* Adjust spacing as needed */
}
.about-me-container h2 {
  margin-bottom: 20px; /* Adjust spacing as needed */
}
.about-me-container em{
  font-style: italic;
}
.about-me-container strong{
  font-weight: bold;
} .headline-page{
  font-size: 24px;
  flex-direction: column;
   
  text-decoration: none; 

  background-image: linear-gradient(120deg, #3498db, #f39c12);
  background-size: 100% 0.2em;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease-in-out;

  
  /* &:hover {
    background-size: 100% 100%;
  }  */
}
/*Navbar*/
.navbar {
  position: fixed;
  border-bottom-right-radius: 0.5rem;
  top: 0;
  left: 0; /* Align navbar to the left */
  width: 100%;
  z-index: 100;
  background-color: #101010;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 25px;
}



@media (min-width: 1199px) {
  .navbar-list {
    display:-webkit-flex;
    flex-direction: row; /* Display navbar items in a row */
    justify-content: flex-start; /* Align items to the right */
    list-style: none; /* Remove default list styles */
    margin: 0;
    
  }

  .navbar-item {
    margin-left: 0px; /* Add spacing between navbar items */
    font-size: 30px;
    margin-inline-end: auto; /* solwed position of the list */
    position: static; /* Reset position */
    overflow: visible; /* Reset overflow */
    transform: none; /* Reset transform */
    transition: none; /* Reset transition */
  }

  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 0; /* Add margin between menu items */
    transition: color 0.3s ease; /* Adjust font size as needed */
  }

  .navbar-item a:hover{
    color: #f39c12
  }

  .navbar-item span.icofont {
    font-size: 25px; /* Adjust icon font size */
  }

  .menu-button {
    display: none; /* Hide the hamburger menu button on larger screens */
  }
}


/* Media query for phone screen size */
@media (max-width: 1200px) {
  .menu-button {
    background-color: #666;
    color:  rgb(115, 5, 225);
    margin-bottom: 12px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: relative;
  }
  
  .menu-icon,
  .close-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    margin-left: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
  
  .close-icon {
    opacity: 0;
    font-size: 30px;
  }

  .circle {
    position: absolute;
    margin-left: 0.5rem;
    background-color: rgba(25, 25, 25, 0.36);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 41px; /* Adjust the size of the circle */
    height: 41px; /* Adjust the size of the circle */
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Transparent white border */
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: pulse 7s infinite alternate;
    z-index: -1;
  }
  @keyframes pulse {
    0% {
      border-color: rgba(0, 68, 177, 0.344); /* Initial color (transparent white) */
    }
    50% {
      border-color: rgba(120, 0, 114, 0.447); /* Final color (semi-transparent red) */
    }
    100% {
      border-color: rgba(255, 81, 0, 0.234); /* Final color (semi-transparent red) */
    }
  }
    
  
  .open .menu-icon {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  
  .open .close-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }

  .open .circle {
    opacity: 1;
    width: 35px;
    height: 35px;
    border-color: rgba(180, 0, 0, 0.451);
    border-radius: 0%;
    animation: none;
  }
  
  .navbar-list {
    display: none; /* Hide the menu by default on smaller screens */
  }

  .navbar-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 5px;
    width: 20%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Initially hide the menu */
    transform: translateY(-5px); /* Move the menu up */
    transition: opacity 1s ease, transform 1s ease; /* Add smooth transition */
  }

  
  .navbar-item span.icofont {
    font-size: 10px; /* Adjust the font size for the icons */
  }
  
  
  .navbar-list.active.show {
    opacity: 50; /* Show the menu */
    transform: translateY(3); /* Move the menu down */
    border-bottom-right-radius: 3rem ;
    background-color: rgba(51, 51, 51, 0.7);/* Transparent background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .navbar-list.active a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin: 5px 0; /* Add margin between menu items */
    transition: color 0.3s ease; /* Add smooth color transition */
  }
  
  .navbar-list.active a:hover {
    color: #f39c12; /* Change color on hover */
  }
  
  .navbar-item {
    margin: 10px 0; /* Add margin between menu items */
  }
}



p {
  animation-duration: 3s;
  animation-name: slidein;
}
/*Pages*/
.slide-me {
  position: relative;
  overflow: hidden;
  
}

.slide-me strong {
  opacity: 0;
  position: relative;
  left: 100%;
  animation: slide-in 1s forwards;
}

.slide-from-right {
  animation-delay: 0s;
}

.slide-from-right.fade-in-1 {
  animation-delay: 0.2s;
}

.slide-from-right.fade-in-2 {
  animation-delay: 0.4s;
}

.slide-from-right.fade-in-3 {
  animation-delay: 0.6s;
}

.slide-from-right.fade-in-4 {
  animation-delay: 0.8s;
}


@keyframes slide-in {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
.slide-me span {
  display: inline-block;
}

.slide-me .fade-in-fast {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

/* ... Other fade-in classes ... */

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
/*Language bttn */

.language-switcher-container {
  position: fixed;
  top: 18px; /* Adjust the vertical position from the top */
  right: 0.8rem;
  z-index: 999;
  border: none; /* Ensure it appears above other elements */
}

  .language-button {
    padding: 13px; /* Adjust padding as needed */
    background: linear-gradient(135deg, #ff000066, #000); /* Gradient background for depth effect */
    border: none;
    border-radius: 100%; /* Make the button fully round */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add box shadow for 3D effect */
    color: white; /* Set text color to white */
    cursor: pointer; /* Show pointer cursor on hover */
    outline: none; /* Remove default outline */
    transition: transform 0.2s, box-shadow 0.2s; /* Add transitions for smooth effect */
  }
  
  .language-button:hover {
    transform: scale(1.05); /* Scale up slightly on hover for depth effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5); /* Increase shadow on hover for depth effect */
  }

  .language-button:active {
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.3); /* Change box shadow color when button is clicked */
  }

  .language-button.clicked {
    background: linear-gradient(135deg, #0220e3a0, #000); /* Gradient background for depth effect */
  }
  
  .flag-icon {
    font-size: 22px; /* Adjust the size of the flag icon */
    line-height: 1; /* Ensure the flag icon is vertically centered */
    margin: 0; /* Remove default margin */
    border: none;
  }
  
  
.container-hline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh; /* Adjust this to fit your layout */
}

.hline1 {
  text-align: center;
  padding-top: 60px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  position: relative; /* Add position relative to create a stacking context */
  z-index: 1; /* Set a positive z-index value */
}

.hline1::before {
  content: '';
  display: block;
  width: 100%; /* Adjusted to the desired width of the underline */
  height: 2px;
  background-color: #3498db;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0); /* Initial state: invisible */
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  z-index: -1; /* Set a negative z-index to place it below the text */
}

.hline1:hover::before {
  transform: scaleX(1); /* On hover, make the underline visible */
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.portfolio-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #c6c6c6; /* Dark text color */
  position: relative;
  text-align: center;
  margin-top: 50px;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #c4c4c4; /* Adjust the color to your preference */ /* Make the text container an inline block */
}

.portfolio-title::before {
  content: '';
  position: absolute;
  width: 100%; /* Adjusted to 100% */
  height: 2px; /* You can adjust the thickness of the underline */
  bottom: 0;
  left: 0; /* Center the underline by changing left to 0 */
  background-color: #3498db; /* You can change the color to your preferred color */
  transform: scaleX(0); /* Initial state: invisible */
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.portfolio-title:hover::before {
  transform: scaleX(1); /* On hover, make the underline visible */
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.project-image {
  width: 520px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-description {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.project-description h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Dark text color */
}

.project-description p {
  font-size: 16px;
  line-height: 1.5;
  color: #434343; /* Slightly lighter text color */
}
@media (max-width: 1200px){
  /* Your existing styles for desktop view */

/* Media query for phone screen size */
@media (max-width: 1200px) {
  .project {
    flex-direction: column; /* Stack content vertically */
    margin-bottom: 20px; /* Reduce the margin for better spacing */
  }

  .project-image {
    width: 100%; /* Make the image full width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    border-radius: 0; /* Remove border-radius for a square image */
    box-shadow: none; /* Remove the box shadow */
  }

  .project-description {
    padding: 10px; /* Reduce padding for better spacing */
    text-align: center; /* Center-align the text */
  }

  .project-description h3 {
    font-size: 18px; /* Reduce the font size */
    margin-bottom: 5px; /* Reduce margin for better spacing */
  }

  .project-description p {
    font-size: 14px; /* Reduce the font size */
    line-height: 1.4;
    color: #666; /* Slightly lighter text color */
  }
}


}


/* Home.css */

/* Styles for the home container */
/* Styles for desktop view (default) */
@media (min-width: 1199px) {
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: #949494;
    padding-top: 100px;
  }
  
  .hero-image {
    display: flex;
    width: 50%; /* Adjust the width to your preference */
    height: auto;
    box-shadow: #101010;
    border-radius: 2rem; /* Maintain aspect ratio */
  }
}



/* Media query for mobile view */
@media (max-width: 1200px) {
  .home-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px;
    padding-top: 100px; /* Add spacing around content */
    
  }

  .hero-image {
    display: flex;
    width: 250px; /* Full width for the image */
    max-width: 500px; /* Limit maximum width */
    margin-bottom: 0px; /* Add spacing between image and content */

  }

  .home-content {
    display: flex;
    padding: 20px;
    text-align: center; /* Center text */
    max-width: 200px; /* Limit maximum width */
    
  }
  .home-content p{
    display: flex;
    padding: 20px;

  }
}



/* Styles for the hero image */
.hero-image img {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Maintain the image's aspect ratio */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the image */
}

/* Styles for the content to the right of the image */
.home-content {
  padding-right: 20%;
  text-align: left; /* Align text to the left */
  margin-left: 20px; /* Add some margin to separate content from the image */
}


/* Styles for the heading */
.home-content h1 {
  font-size: 36px;
  color: #333; /* Text color for the heading */
  margin-bottom: 10px;
}

/* Styles for the paragraph */
.home-content p {
  font-size: 18px;
  color: #666; /* Text color for the paragraph */

}
.portfolio-title{
  padding-top: 30px;
}

/* .img-class {
  width: 100px;
  margin-left: 10%; /* Set the desired width 
  height: auto; /* Ma
  padding-top: 30px;
} */


/* Add additional styling as needed */
